<style>
  .demo-card > .mdl-card__title {
    color: #fff;
    background:
      bottom right 15% no-repeat #00bbbb;
  }
  .demo-card > .mdl-card__menu {
    color: #fff;
  }
  .demo-card > .mdl-card__title > h3 {
    margin: 0;
  }
  .demo-card > .mdl-card__title > h6 {
    margin: 0;
  }
  #view-source {
    position: fixed;
    display: block;
    right: 0;
    bottom: 0;
    margin-right: 40px;
    margin-bottom: 40px;
    z-index: 900;
  }
  .portfolio-max-width {
    max-width: 900px;
    margin: auto;
  }

  .portfolio-card .mdl-card__title {
    padding-bottom: 0;
  }

  .no-bottom-padding {
    padding-bottom: 0;
  }

  .portfolio-btn {
  position: relative;
  float: right;
  top: -4px;
}

</style>
<% if @is_admin %>
  <a href=<%= new_article_path %> id="view-source" class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored"><i class="material-icons">add</i></a>
<% end %>
<p id="notice"><%= notice %></p>
<div class="mdl-grid portfolio-max-width">
  <% @articles.order('created_at DESC').each do |article| %>
    <div class="mdl-cell mdl-cell--6-col demo-card mdl-card mdl-shadow--4dp">
      <div class="mdl-card__title mdl-card--expand">
        <h3><%= article.title %></h3>
      </div>
      <div class="mdl-card__media">
      </div>
      <div class="mdl-card__title mdl-card--expand">
        <span> <%= article.subtitle[0, 250] %> </span>
      </div>
      <div class="mdl-card__supporting-text">
        <p>
          <% body = article.body %>
          <% if body.length >= 1000 %>
            <%= body[0, 997] << '...' %>
          <% else %>
            <%= body %>
          <% end %>
        </p>
      </div>
      <div class="mdl-card__actions mdl-card--border" style="text-align: center;">
        <%= link_to 'Ver', article, :class=> "mdl-button mdl-button--colored mdl-js-button  mdl-js-ripple-effect" %>
        <% if @is_admin %>
          <%= link_to 'Editar', edit_article_path(article), :class=> "mdl-button mdl-button--colored  mdl-js-button mdl-js-ripple-effect" %>
          <%= link_to 'Borrar', article, method: :delete, data: { confirm: '¿Estás segur@?' }, :class => "mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" %>
        <% end %>
      </div>
      <div class="mdl-card__menu">
        <div class="material-icons mdl-badge mdl-badge--overlap" data-badge=<%= article.comments.size %>>comment</div>
      </div>
    </div>
  <% end %>
</div>

