<!DOCTYPE html>
<html>
  <head>
    <title>Noticias en vivo</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script async defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', async: true, defer: true %>
  </head>

  <body onload="setInterval(function() { window.componentHandler.upgradeDom(); }, 250);">
    <div class="mdl-layout mdl-js-layout">
      <header class="mdl-layout__header mdl-layout__header--scroll">
        <div class="mdl-layout__header-row mdl-layout--large-screen-only">
          <!-- Title -->
          <span class="mdl-layout-title">Noticias en vivo</span>
          <!-- Add spacer, to align navigation to the right -->
          <div class="mdl-layout-spacer"></div>
          <!-- Navigation -->
          <nav class="mdl-navigation">
            <% if @is_admin %>
              <%= link_to 'Inicio', root_path, :class => "mdl-navigation__link" %>
              <%= link_to 'Modo Administrador', administrator_index_path, :class => "mdl-navigation__link"%>
              <%= link_to 'Desconectar', logout_administrator_index_path, :class => "mdl-navigation__link"%>
            <% else %>
              <%= link_to 'Administrar', login_administrator_index_path, :class => "mdl-navigation__link"%>
            <% end %>
          </nav>
        </div>
      </header>
      <div class="mdl-layout__drawer mdl-layout--small-screen-only">
        <span class="mdl-layout-title">Noticias en vivo</span>
        <nav class="mdl-navigation">
          <% if @is_admin %>
            <%= link_to 'Inicio', root_path, :class => "mdl-navigation__link" %>
            <%= link_to 'Modo Administrador', administrator_index_path, :class => "mdl-navigation__link"%>
            <%= link_to 'Desconectar', logout_administrator_index_path, :class => "mdl-navigation__link"%>
          <% else %>
            <%= link_to 'Administrar', login_administrator_index_path, :class => "mdl-navigation__link"%>
          <% end %>
        </nav>
      </div>
      <main class="mdl-layout__content">
        <div class="page-content">
          <%= yield %>
        </div>
      </main>
    </div>
    
  </body>
</html>

